.mat-dialog-title {
  color: black;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 0;
}

.mat-dialog-content {
  color: #151515;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  padding-right: 0;
}

.mat-table {
  background: #554a42;
  box-shadow: none;
}

.mat-dialog-actions {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
}

.btn-update {
  background-color: #4285F4;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  color: #FFFFFF;
  border-width: 0;
  margin-right: 8px;
  height: 30px;
  width: 68px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 13px;
  text-align: center;
}

.btn-cancel {
  border: 2px solid rgba(66,133,244,0.35);
  color: #4285F4;
  height: 30px;
  width: 68px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 13px;
  text-align: center;
}

.mat-dialog-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.mat-divider {
  margin-left: -24px;
  margin-right: -24px;
  border-top-width: 3px;
  border-top-color: rgba(0, 0, 0, 0.95);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #63554c;
}

::-webkit-scrollbar-thumb {
  background: rgba(34, 29, 28, 0.8);
}

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 29, 28, 0.6);
  }

.example-card {
  max-width: inherit;
}

.mat-card-image {
  height: 300px;
}

.mat-card {
  background-color: #867467;
}
