<h4 mat-dialog-title class="mb-4">News</h4>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-12">
        <mat-card class="example-card mt-2" *ngFor="let item of news">
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{getDate(item.createdAt)}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="item.imageLink" alt="news photo">
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
