<div class="bg"
     [style.background-image]="'url('+ model['background-image'] +')'">
  <div class="coins-gems-panel" *ngIf="walletModel">
    <i class="fa fa-coins"></i>
    <div class="ml-1 price-coins">
      {{walletModel.coins}}
    </div>
    <i class="fa fa-gem"></i>
    <div class="ml-1 price-gems">
      {{walletModel.gems}}
    </div>
  </div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-12 ftco-animate text-center fadeInUp ftco-animated">
        <img border="0" alt="MedievalIo" class="img-fluid logo"
             [attr.src]="model['medivalIo-image']" />
      </div>
    </div>
  </div>
  <div class="container-fluid home">
    <div class="button-group">
      <div class="row news d-flex justify-content-between">
        <button class="btn-lg btn-news" (click)="news()">
          <i class="fa fa-newspaper-o"></i>
        </button>
        <button class="btn-lg btn-stats" (click)="logOut()">
          <i class="fa fa-sign-out"></i>
        </button>
      </div>
      <div class="row stats">
        <button class="btn-lg btn-stats">
          <i class="fa fa-cogs"></i>
        </button>
      </div>
      <div class="row bottom-panel">
        <div class="col-3 bottom-item">
          <button class="btn-lg btn-stats" (click)="statisticsInfo()">
            <i class="fa fa-bar-chart"></i>
          </button>
        </div>
        <div class="col-6 bottom-item" style="text-align: center">
          <button class="btn-lg btn-play" (click)="play()">
            Play
          </button>
        </div>
        <div class="col-3 bottom-item" style="text-align: right">
          <button class="btn-lg btn-stats" (click)="shop()">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
