body, html {
  height: 100%;
  margin: 0;
}

.home {
  max-width: 1700px;
  width: 100%;
  padding: 45px 32px;
  position: relative;
}

.bg {
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  margin-top: 24px;
}

.btn-news {
  border-radius: 10px;
  background-color: #7d6d61;
  color: #221C1C;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  font-size: 4rem;
  width: 135px;
  height: 100px;
}

.btn-stats {
  border-radius: 10px;
  background-color: #7d6d61;
  color: #221C1C;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  font-size: 4rem;
  width: 135px;
  height: 100px;
}

.btn-play {
  border-radius: 10px;
  background-color: #7d6d61;
  color: #221C1C;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  font-size: 55px;
  width: 355px;
  height: 80px;
}

.bottom-item {
  padding: 0;
}

.bottom-panel {
  margin-top: 64px;
}

.stats {
  margin-top: 64px;
}

.button-group {
  margin-top: 64px
}

.coins-gems-panel {
  display: inline-flex;
  position: absolute;
  border-radius: 12px;
  background-color: #7d6d61;
  color: rgba(52,52,52,0.75);
  font-size: 10px;
  font-weight: 900;
  line-height: 19px;
  height: 40px;
  width: auto;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.fa-coins {
  font-size: 23px;
  color: #ffc800;
  line-height: 40px;
  margin-left: 10px;
}

.fa-gem {
  font-size: 23px;
  margin-left: 16px;
  color: #30d5c8;
  line-height: 40px;
}

.price-coins {
  color: #ffc800;
  font-size: 27px;
  font-weight: bold;
  line-height: 40px;
}

.price-gems {
  color: #30d5c8;
  font-size: 27px;
  font-weight: bold;
  line-height: 40px;
  margin-right: 10px;
}
